.bit-s {
  color: #fff;
  background-color: #ff6666;
}

.bit-e {
  color: #fff;
  background-color: #3399cc;
}

.bit-m {
  color: #fff;
  background-color: #009933;
}
.bit-z1 {
  color: #333;
  background-color: #ffff00;
}
.bit-z2 {
  color: #333;
  background-color: #cc6600;
}
