.bit-s {
  background-color: #c24557;
}

.bit-e {
  background-color: #007abb;
}

.bit-m {
  background-color: #039f4e;
}
.bit-z1 {
  background-color: #e8db1e;
}
.bit-z2 {
  background-color: #c4b9a3;
}
.true {
  color: #1e0155;
}
.false {
  color: #fff;
}
