.search-box {
  display: flex;
  width: 600px;
  margin: 20px 0;
}
.search-box-select{
  width: 250px;
}
.search-box-info{
  width: 350px;
}
.line-tip {
  width: 100%;
  margin: 5px 0 10px 0;
}
